name: branch

on:
  push:
    branches:
      - '*'
      - '!master'

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '7.0.x'
    - name: Build with dotnet
      run: dotnet build -c Release
    - name: Run unit tests
      run: dotnet test
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: VncLib.Wpf
        path: VncLib.Wpf\bin\Release\*nupkg
